<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983994845374-pkdnuc7sv7fgcdk66hbivu4i7s9mnsf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983994845374-pkdnuc7sv7fgcdk66hbivu4i7s9mnsf9</string>
	<key>API_KEY</key>
	<string>AIzaSyBZddtJ1nG1DBvObW_ola6qtiMl5qab3WE</string>
	<key>GCM_SENDER_ID</key>
	<string>983994845374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jumpsaildive.amcrashlyticstestapp</string>
	<key>PROJECT_ID</key>
	<string>fir-crashlytics-22c13</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashlytics-22c13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983994845374:ios:5d24f2fbd25c1f354776ef</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crashlytics-22c13.firebaseio.com</string>
</dict>
</plist>